{% extends "base.html" %}
{% block title %}Add New Account{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Add new Account</h1>
    <br>
    <form action="/accounts" method="post">
        <select name="type">
            <option selected hidden disabled value="">--select account type--</option>
            {% for type in types %}
                <option value="{{ type }}">{{ type }}</option>
            {% endfor %}
        </select>
        <input type="text" placeholder="Name" name="name" value="{{
                request.form.name }}">
        <br>
        <input type="number" placeholder="Balance" name="balance" value="{{
                request.form.balance }}">
        <input type="number" placeholder="Account Number" name="account_number" value="{{
                request.form.account_number }}">
        <br>
        <select name="organization">
            {% for org in organizations %}
                <option value="{{ org.id }}">{{ org.name }}</option>
            {% endfor %}
        </select>
        <br>
        <input class="btn btn-default" type="submit" value="Add Account">
    </form>
{% endblock %}
