{% extends "base.html" %}
{% block title %}Edit Account{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Edit Account</h1>
    <br>
    <form action="/accounts/{{ account.id }}/edit" method="post">
        <select name="type" value="{{ account.type }}">
            {% for type in types %}
                <option {% if account.type==type %} selected {% endif %} value="{{ type }}">{{ type }}</option>
            {% endfor %}
        </select>
        <br> <br>
        <input type="text" placeholder="Name" name="name" value="{{ account.name }}">
        <br> <br>
        <input type="number" placeholder="Balance" name="balance" value="{{account.balance }}">
        <br> <br>
        <input type="number" placeholder="Account Number" name="account_number" value="{{
                account.account_number }}">
        <br> <br>
        <select name="organization" value="{{ account.org_id }}">
            {% for org in organizations %}
                <option {% if account.org_id==org.id %} selected {% endif %} value="{{ org.id }}">{{ org.name }}</option>
            {% endfor %}
        </select>
        <br> <br>
        <input class="btn btn-default" type="submit" value="Update Account">
    </form>
{% endblock %}