{% extends "base.html" %}
{% block title %}Accounts{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>List of Accounts</h1>
    <table>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Balance</th>
            <th scope="col">Account Number</th>
            <th scope="col">Org ID (will be renamed)</th>
            <th scope="col">Created</th>
            <th scope="col">Last Updated</th>
        </tr>
        {% for account in accounts %}
            <tr>
            <td>{{ account.name }}</td>
            <td>{{ account.type }}</td>
            <td>{{ account.balance }}</td>
            <td>{{ account.account_number }}</td>
            <td>{{ account.org_id }}</td>
            <td>{{ account.created_at }}</td>
            <td>{{ account.updated_at }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/create.html">Click here to add a new Account</a>
{% endblock %}