{% extends "base.html" %}
{% block title %}Accounts{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
    <a href="/accounts/create">Click here to add a new Account</a>
  <h1>List of Accounts</h1>
    <table>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Balance</th>
            <th scope="col">Account Number</th>
            <th scope="col">Organization</th>
            <th scope="col">Created</th>
            <th scope="col">Last Updated</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        {% for account in accounts %}
            <tr>
            <td>{{ account.name }}</td>
            <td>{{ account.type }}</td>
            <td>{{ account.balance }}</td>
            <td>{{ account.account_number }}</td>
            <td>{{ account.org_name }}</td>
            <td>{{ account.created_at }}</td>
            <td>{{ account.updated_at }}</td>
            <td><a href="/accounts/{{ account.id }}/edit">Edit</a></td>
            <td><form action="/accounts/{{ account.id }}/delete" method="GET" ><button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-trash"></span> Delete</button> </form></td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/accounts?page={{ page_num - 1 }}">prev</a><span>     </span>
    <a href="/accounts?page={{ page_num + 1 }}">next</a>
{% endblock %}