{% extends "base.html" %}
{% block title %}My Profile{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>My Profile</h1>
    <br>
    <form action="/profile/{{ current_user.id }}/edit" method="post">
        <input type="text" placeholder="Name" name="name" value="{{ current_user.name }}">
        <br> <br>
        <input type="text" placeholder="Email" name="email" value="{{ current_user.email }}">
        <br> <br>
        <input type="password" placeholder="Password" name="password" value="{{ current_user.password }}">
        <br> <br>
        <label>Date of Birth</label> <br>
        <input type="date" name="dob" value="{{ current_user.date_of_birth }}">
        <br> <br>
        <input class="btn btn-default" type="submit" value="Save Changes">

    </form>
{% endblock %}