{% extends "base.html" %}
{% block title %}Reports{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>Reports</h1>
{#    {{ current_month=='9' }}#}
    <form action="/reports/" method="get">
        <select name="year">
            {% for year in years %}
                <option {% if year==current_year %} selected {% endif %} value="{{ year }}">{{ year }}</option>
            {%  endfor %}
        </select>
        <select name="month">
            <option {% if '1'==current_month %} selected {% endif %} value="1">Jan</option>
            <option {% if '2'==current_month %} selected {% endif %}  value="2">Feb</option>
            <option {% if '3'==current_month %} selected {% endif %}  value="3">Mar</option>
            <option {% if '4'==current_month %} selected {% endif %}  value="4">Apr</option>
            <option {% if '5'==current_month %} selected {% endif %}  value="5">May</option>
            <option {% if '6'==current_month %} selected {% endif %}  value="6">Jun</option>
            <option {% if '7'==current_month %} selected {% endif %}  value="7">Jul</option>
            <option {% if '8'==current_month %} selected {% endif %}  value="8">Aug</option>
            <option {% if '9'==current_month %} selected {% endif %}  value="9">Sep</option>
            <option {% if '10'==current_month %} selected {% endif %}  value="10">Oct</option>
            <option {% if '11'==current_month %} selected {% endif %}  value="11">Nov</option>
            <option {% if '12'==current_month %} selected {% endif %}  value="12">Dec</option>
        </select>
        <br>
        <input class="btn btn-default" type="submit" value="Generate Report">
    </form>
    <table>
        <tr>
            <th scope="col">Year</th>
            <th scope="col">Month</th>
            <th scope="col">Total Expenditure</th>
            <th scope="col">Most Expensive Transaction</th>
            <th scope="col">Category Name</th>
        </tr>
        {% for row in expenditure_report %}
            <tr>
                <td>{{ row.year | round(0) }}</td>
            <td>{{ row.month }}</td>
            <td>{{ row.total_expenditure }}</td>
            <td>{{ row.most_expensive_transaction }}</td>
            <td>{{ row.category_name }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
{% endblock %}