{% extends "base.html" %}
{% block title %}Edit Transaction{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Edit Transaction</h1>
    <br>
    <form action="/transactions/{{ transaction.id }}/edit" method="post">
        <input type="date" name="date" value="{{ transaction.date }}">
        <input type="number" placeholder="Amount" name="amount" value="{{
                transaction.amount }}">
        <select name="account" value="{{ transaction.account }}">
            {% for acc in accounts %}
                <option value="{{ acc.id }}">{{ acc.name }}</option>
            {% endfor %}
        </select>
        <select name="contact" value="{{ transaction.contact }}">
            <option value=""> None </option>
            {% for c in contacts %}
                <option value="{{ c.id }}">{{ c.name }}</option>
            {% endfor %}
        </select>
        <select name="category" value="{{ transaction.category }}">
            <option value=""> None </option>
            {% for cat in categories %}
                <option value="{{ cat.id }}">{{ cat.name }}</option>
            {% endfor %}
        </select>
        <input type="text" placeholder="Memo" name="memo" value="{{
                transaction.memo }}">
        <br>
        <input class="btn btn-default" type="submit" value="Update Transaction">
    </form>
{% endblock %}
