{% extends "base.html" %}
{% block title %}Transactions{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
    <a href="/transactions/create">Click here to add a new Transaction</a>
  <h1>List of Transactions</h1>
    <table>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Account Name</th>
            <th scope="col">Account Number</th>
            <th scope="col">Contact</th>
            <th scope="col">Category</th>
            <th scope="col">Memo</th>
            <th scope="col">Tags</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        {% for transaction in transactions %}
            <tr>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.account_name }}</td>
            <td>{{ transaction.account_number }}</td>
            <td>{{ transaction.contact }}</td>
            <td>{{ transaction.category }}</td>
            <td>{{ transaction.memo }}</td>
            <td>{{ transaction.tag_list }}</td>
            <td><a href="/transactions/{{ transaction.id }}/edit">Edit</a></td>
            <td><form action="/transactions/{{ transaction.id }}/delete" method="GET" ><button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-trash"></span> Delete</button> </form></td>
                        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/transactions?page={{ page_num - 1 }}">prev</a><span>     </span>
    <a href="/transactions?page={{ page_num + 1 }}">next</a>
{% endblock %}