{% extends "base.html" %}
{% block title %}Organizations{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>List of Organizations</h1>
    <table>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Created</th>
            <th scope="col">Last Updated</th>
        </tr>
        {% for org in organizations %}
            <tr>
            <td>{{ org.name }}</td>
            <td>{{ org.location }}</td>
            <td>{{ org.created_at }}</td>
            <td>{{ org.updated_at }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/organizations?page={{ page_num - 1 }}">prev</a><span>     </span>
    <a href="/organizations?page={{ page_num + 1 }}">next</a>
{% endblock %}