{% extends "base.html" %}
{% block title %}Edit Contact{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Edit Contact</h1>
    <br>
    <form action="/contacts/{{ contact.id }}/edit" method="post">
        <input type="text" placeholder="Name" name="name" value="{{ contact.name }}">
        <br> <br>
        <input type="text" placeholder="Email" name="email" value="{{contact.email }}">
        <br> <br>
        <input class="btn btn-default" type="submit" value="Update Contact">
    </form>
{% endblock %}